@model e_auction.Models.LoginMaster

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}




    @using (Html.BeginForm("Login","Account",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-validate">
            @Html.ValidationSummary()
            <h2>SIGN IN</h2>
                <div class="control-group">
                    
                    <div class="span4">
                        <label >Client Id</label>
                        
                    </div>
                    <div class="span8">
                        @Html.EditorFor(model => model.ClientId, new { @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.ClientId)
                    </div>
                </div>
                <div class="control-group">
                    <div class="span4">
                        <label>Password</label>
                    </div>
                    <div class="span8">
                        <input type="password"  name="clientpass" />
                        @Html.ValidationMessageFor(model => model.clientpassword)
                    </div>
                </div>
     
           <div class="submit">
               <input type="submit" id="Login" value="Login" class="btn btn-darkblue" />

               
                </div>
            <div class="control-group">
                <div class="offset2" style="padding-left:60px;padding-top:10px;">
                    @Html.ActionLink("Register ", "Register", null, new { })
                </div>
            </div>
            

            </div>
         
    }   

<div class="forget">
    <a href='@Url.Content("forgetpassword")'><span>Forgot password?</span></a>
</div>
