
@{
    ViewBag.Title = "ApproveTenderList";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="box box-color box-bordered">
                <div class="box-title">
                    <h3>Pending For Approval</h3>
                </div>
                <div class="box-content nopadding">
                    <table class="table table-hover table-nomargin table-bordered usertable">
                        <thead>
                            <tr class='thefilter'>
                                <th>S.No</th>
                                <th>Tender ID</th>
                                <th>Company</th>
                                <th>Description</th>
                                <th class='hidden-350'>Raised by</th>
                                <th class='hidden-1024'>Start Date </th>
                                <th class='hidden-480'>End Date</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.PendingApproval)
                            {   
                                <tr>
                                    <td><span class="label">@item.srno</span></td>
                                    <td>@item.TenderId</td>
                                    <td>@item.CompanyName</td>
                                    <td>@item.Tenderdesc</td>
                                    <td>@item.ContactPerson</td>
                                    <td class='hidden-1024'>@item.StartDate &nbsp; @item.StartTime</td>
                                    <td class='hidden-1024'>@item.EndDate &nbsp; @item.EndTime</td>
                                    <td>
                                        @if (item.rolename == "Admin")
                                         {
                                        <a href="@Url.Action("ApproveTender", "Tender", new { @tenderid=securityUtil.Encode(Convert.ToString( @item.TenderId)) })" class="btn" rel="tooltip" title="View"><i class="icon-search"></i></a>
                                        
                                        }
                                        @if (item.rolename == "Purchaser")
                                        {
                                        <a href="@Url.Action("EditTender", "Tender", new { @tenderid = securityUtil.Encode(Convert.ToString(@item.TenderId)) })" class="btn" rel="tooltip" title="Edit"><i class="icon-edit"></i></a>    
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>